
<div class='py-6 px-10' data-controller='infinite-scroll'>
  <div id="articles">
    <%= render 'articles/list', articles: @articles, readerable: true, page: @page %>
  </div>

  <%= render 'layouts/infinite_scroll_pagination' %>
</div>

<div id='hotkeys' class=' fixed bottom-4 right-4'>
  <div class='' data-controller='modal-button' data-modal-button-modal-outlet='#modal'>
    <div class='btn rounded-full bg-zinc-200 px-2 flex justify-center shadow hover:bg-zinc-300 hover:text-orange-600' data-action="click->modal-button#open">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
      </svg>
    </div>

    <%= modal do %>
      <%= modal_content do %>
        <div class=''>
          <div class="">
            <h3 class="text-lg leading-6 font-medium text-gray-900 border-b border-zinc-200 p-3 flex items-center" id="modal-title">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
              </svg>
              Keyboard Shortcuts
            </h3>
            <div class="p-3">
              <div class='flex flex-col gap-2'>
                <div class='flex items-center'><span class='px-2 py-0 mr-2 rounded border border-zinc-200 uppercase font-mono text-gray-600'>k</span> Next Article</div>

                <div class='flex items-center'><span class='px-2 py-0 mr-2 rounded border border-zinc-200 uppercase font-mono text-gray-600'>?</span> Show this help</div>
                <div class='flex items-center'><span class='px-2 py-0 mr-2 rounded border border-zinc-200 uppercase font-mono text-gray-600'>m</span> Toggle Dark/Light Mode</div>
                <div class='flex items-center'><span class='px-2 py-0 mr-2 rounded border border-zinc-200 uppercase font-mono text-gray-600'>n</span> Toggle Sidebar</div>

                <div class='flex items-center'><span class='px-2 py-0 mr-2 rounded border border-zinc-200 uppercase font-mono text-gray-600'>+</span> Increase Article Width</div>
                <div class='flex items-center'><span class='px-2 py-0 mr-2 rounded border border-zinc-200 uppercase font-mono text-gray-600'>-</span> Decrease Article Width</div>

                <div class='flex items-center'><span class='px-2 py-0 mr-0.5 rounded border border-zinc-200 uppercase font-mono text-gray-600'>SHIFT</span><span class='px-2 py-0 mr-2 rounded border border-zinc-200 uppercase font-mono text-gray-600'>+</span> Increase Font Size</div>
                <div class='flex items-center'><span class='px-2 py-0 mr-0.5 rounded border border-zinc-200 uppercase font-mono text-gray-600'>SHIFT</span>
                <span class='px-2 py-0 mr-2 rounded border border-zinc-200 uppercase font-mono text-gray-600'>-</span> Decrease Font Size</div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>