<div class='flex border-b border-zinc-300 pb-4 mb-4'>
  <h1 class='text-2xl flex-1'>Source</h1>

  <%= link_to 'New source', new_source_path %>
</div>

<table class='table-fixed w-full'>
  <thead class='font-bold'>
    <tr>
      <td>Name</td>
      <td>Url</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= link_to source.name, source_path(source) %></td>
        <td><%= source.url %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
      </tr>
    <% end %>
  </tbody>
</table>