<div class='p-6'>
  <%= render 'sources/item', source: @source, extra_classes: 'article-width' %>

  <%= render 'articles/list', articles: @source.articles.most_recent.ready, readerable: true, page: 'sources' %>
</div>