<div class='flex w-1/2 mx-auto min-h-screen'>

  <div class="p-4 w-full">

    <h1 class='text-7xl font-serif font-bold text-center shadow-gray-900 w-full mt-6 dark:text-shadow'>Paper stack</h1>
    <p class='text-xl text-center my-6'>Paper stack is a dead simple article reader, whether from rss or any website. <br/>Save single articles to read later all in the same feed optimised for reading.</p>
      
      <%= yield %>
    </div>
  </div>
</div>