<div class='flex flex-col bg-zinc-100 p-6 border-r border-zinc-200 w-1/4 pt-15 gap-4 dark:bg-zinc-800 dark:border-zinc-700 rounded-l'>
  <%= link_to 'ðŸ› Account', settings_path(page: :account), class: "btn hover:bg-violet-500/20 text-lg #{class_if(@page == 'account', 'nav-active')}", data: { 'turbo-action' => "replace" } %>
  <%= link_to 'ðŸŽ¨ Appearance', settings_path(page: :appearance), class: "btn hover:bg-violet-500/20 text-lg #{class_if(@page == 'appearance', 'nav-active')}", data: { 'turbo-action' => "replace" } %>
  <%= link_to 'ðŸš† Import', imports_path(page: :imports), class: "btn hover:bg-violet-500/20 text-lg #{nav_active('imports')}", data: { 'turbo-action' => "replace" } %>
</div>