<%= turbo_frame_tag "edit_user" do %>
  <div class='mx-auto bg-white dark:bg-zinc-800 rounded shadow my-10 w-2/3  flex'>
    <%= render 'users/settings/sidebar' %>
    <div class='flex-1 p-6'>
      <%= render "users/settings/#{@page}" %> 
    </div>
  </div>
<% end %>