@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 255 255;
    --color-secondary: 247 247 247;
    --color-borders: 237 237 240;

    --color-text: 23 22 24;

    /* --color-tertiary: 239 239 239; */
    
    --color-primary-button: 37 90 245;
    --color-primary-button-color: 255 255 255;
    --color-primary-button-hover: 240 240 240;

    
  }
}

@layer components {
  .btn {
    @apply text-text py-2 px-4 rounded cursor-pointer;
  }

  .btn-small {
    @apply py-1 px-2 text-sm;
  }

  .btn-primary {
    @apply bg-primary-button text-primary-button-color;
  }

  .btn-primary:hover {
    @apply bg-primary-button-hover;
  }

  .btn-secondary {
    @apply bg-gray-100 text-text;
  }

  .btn-secondary:hover {
    @apply bg-orange-200;
  }

  .btn-danger {
    @apply bg-red-700/60;
  }

  .btn-danger:hover {
    @apply bg-red-800;
  }

  .btn-link {
    @apply text-gray-900 font-normal px-0;
  }

  .btn-link:hover {
    @apply text-gray-600 underline;
  }

  .text-input {
    @apply block rounded px-2 py-2 bg-white border border-zinc-300 text-gray-900 outline-none;
  }

  .text-input:focus {
    @apply ring ring-blue-500 border-blue-100;
  }

  .divider {
    @apply h-px bg-zinc-700;
  }

  .nav-active {
    @apply text-primary bg-primary-button;
  }

  .nav-active:hover {
    @apply text-primary-button-color !bg-primary-button;
  }

  .article.expanded .floating-controls {
    @apply block;
  }

  .article.expanded .article-header-buttons {
    @apply flex;
  }

  .article.expanded .article-header {
    @apply sticky;
  }

  .article.expanded .article-header > div {
    @apply border-borders
  }

  .article.expanded .expander-overlay, .article.expanded:hover .expander-overlay {
    @apply !hidden;
  }

  .article.expanded .excerpt {
    @apply hidden;
  }
  
  .article.expanded .extracted-content {
    @apply block;
  }

  .article.expanded .article-content {
    @apply mb-6;
  }

  .article.expanded .article-header-image {
    @apply hidden;
  }

  .article.expanded .article-width:hover {
    @apply !border-transparent;
  }

  .article-width.small {
    @apply !w-1/4;
  }

  .article-width.medium {
    @apply !w-1/2;
  }

  .article-width.large {
    @apply !w-[60%];
  }

  .article-width.xlarge {
    @apply !w-3/4;
  }

  .article-width.full {
    @apply !w-full px-10;
  }

  .viewport-buttons.full .viewport-button-plus, .viewport-buttons.small .viewport-button-minus, .viewport-buttons.medium .viewport-button-auto {
    @apply text-gray-400 hover:bg-gray-100 hover:border-gray-300 cursor-not-allowed;
  }


  .page p, .page ul, .page ol {
    @apply mb-3 text-lg;
  }

  .page {
    @apply mb-10;
  }

  .page [data-cfemail] {
    @apply hidden;
  }

  .page p > code {
    @apply bg-gray-100 rounded px-1;
  }

  .page h1, .page h2, .page h3 {
    @apply mb-1 mt-5 text-2xl font-bold;
  }

  .page header, .page #ez-toc-container {
    @apply hidden;
  }

  .page ul, .page ol {
    @apply bg-blue-50 rounded p-2 border border-blue-200;
  }

  .page svg {
    @apply hidden;
  }

  /* .page p {
    @apply italic bg-blue-50 border-l-4 border-blue-200;
  } */

  .page li {
    @apply mb-2;
  }

  .page li:last-child {
    @apply mb-0;
  }

  .page a {
    @apply text-blue-500 ;
  }

  .page article > dl {
    @apply hidden;
  }
}

@import 'actiontext.css';